    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>
                            <img src="{{ site.baseurl }}/img/evma_logo.png">
                        </p>
                        <p class="brand-heading">ENTREPRENEUR<br>FIRESIDE CHAT</p>
                        <p class="intro-text">How To Go From Idea To Reality</p>
                        <p>Bashor Lounge<br>December 2, 2015, 5:30-8:30PM</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>