<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6662.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6663.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6710.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6718.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6726.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6788.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6816.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A6837.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A7065.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A7132.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A7135.jpg">  
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img src="{{ site.baseurl }}/img/converted_320/PJ9A7152.jpg">  
    </div>
  </div>
</div>