    <!-- Schedule Section -->
    <section id="schedule" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8">
                <h2>Venue</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">
                            <img src="{{ site.baseurl }}/img/bashor01.jpg" alt="Bashor Lounge Image">
                        </p>
                        <p>This year, Fireside Chat returns to <a href="http://hospitality.usc.edu/dining_locations/bashor-lounge/">Bashor Lounge</a> on University of Southern California campus. Located in Heritage Hall, Bashor Lounge provides an intimate setting for our conversation on entrepreneurship.</p>    
                    </div>
                    <div class="col-md-6">
                        <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.770594810364!2d-118.28759994849997!3d34.02409902656358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7e4fd038213%3A0x49638fd5a0b64c95!2s3501+Watt+Way%2C+Los+Angeles%2C+CA+90089!5e0!3m2!1sen!2sus!4v1445622502437" width="310" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>                            
                        </p>
                        <h3>Address</h3>
                        <p>
                            Heritage Hall<br>3501 Watt Way<br>Los Angeles, CA 90089
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Schedule</h2>
                <table class="table">
                    <tr>
                        <td class="col-xs-3">5:30pm</td>
                        <td class="col-xs-9">Registration & Check-in</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">6:00pm</td>
                        <td class="col-xs-9">Cocktail & Networking</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">6:30pm</td>
                        <td class="col-xs-9">Moderated Entrepreneur Panel</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">7:30pm</td>
                        <td class="col-xs-9">Audience Q&A</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">7:45pm</td>
                        <td class="col-xs-9">NFTE Student Pitch</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">7:55pm</td>
                        <td class="col-xs-9">NFTE Donation Acceptance</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">8:00pm</td>
                        <td class="col-xs-9">Blackstone Launchpad Resources Presentation</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">8:10pm</td>
                        <td class="col-xs-9">Raffle Winners Announcement</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3">8:15pm</td>
                        <td class="col-xs-9">Cocktail & Networking</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-sm-8">
                <p>
                    <img src="{{ site.baseurl }}/img/venue1.jpg">    
                </p>
            </div>
            <div class="col-sm-4 snapshot-desc">
                <h3>Registration</h3>
                <p>Check-in will begin at 5:30pm.  Attendees will then enter for cocktails and hors d'oeuvres which will be served untl 6:30pm.</p>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-sm-4 snapshot-desc">
                <h3>Entrepreneur Panel</h3>
                <p>At 6:30pm, the panel will begin and the entrepenuers will discuss eveyrthing from ideation to exit in a moderated discussion.</p>
            </div>
            <div class="col-sm-8">
                <p>
                    <img src="{{ site.baseurl }}/img/venue2.jpg">    
                </p>
            </div>
        </div>
        <div class="row subsection">
            <div class="col-sm-4">
                <p>
                    <img src="{{ site.baseurl }}/img/nfte_logo.png">    
                </p>
            </div>
            <div class="col-sm-8 snapshot-desc">
                <h3>NFTE Student Pitch & Donation</h3>
                <p>EVMA is proud to have <a href="https://www.nfte.com/">Network For Teaching Entrepreneurship</a> (NFTE) with us for this event. NFTE inspires students from low-income communities to find their paths to success through business opportunities and entrepreneurship. Part of the proceeds from ticket sales and raffle will be going to USC Marshall's <a href="https://clubs.marshall.usc.edu/c4c/web_page?url_name=about&club=c4c">Challenge for Charity</a> efforts.  A representative from NFTE will recieve the check and speak about NFTE's goals and ways to get involved.</p>
            </div>
        </div>
    </section>